footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 5rem;
  line-height: 5rem;
  z-index: 999;
}

footer a {
  color: #039;
}

footer a:hover {
  color: #36C;
  text-decoration: underline;
}