#body {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.lcr-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

a {
  color: #039;
  text-decoration: underline;
}

a:hover {
  color: #36C;
}

pre {
  padding: 0.5rem 1.25rem;
  background-color: #eee;
}

label.small {
  font-size: 1.25rem;
  padding-left: .33rem;
  font-weight: lighter;
}

.errors {
  background-color: #fcc;
  border: #C33 1px solid;
  color: #c33;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
}

.errors ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.errors li {
  margin: 0;
}

.info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: .5rem 1rem;
  margin: 1rem 0;
}

.info p {
  margin: .5rem;
  line-height: normal;
}

.rate-limit-info {
  font-weight: bold;
  color: #c33;
  position: relative;
  top: 1rem;
  text-align: right;
}